@model LivrariaControleEmprestimo.DATA.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir cliente</h1>

<h3>Você tem certeza que deseja excluir este cliente</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliCpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliCpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliCidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliCidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliBairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliBairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliTelefoneCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliTelefoneCelular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliTelefoneFixo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliTelefoneFixo)
        </dd>
    </dl>
    
    <form asp-action="Excluir">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-primary" asp-action="Index">Voltar</a>
    </form>
</div>
